.playlist-card {
  height: 253px;
  width: 262px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 11px;
  text-align: center;
  background-size: cover;
  background-position: center;
}
